<html>
<head>
    <link rel="stylesheet" href='/static/style.css' />
</head>

<body>
    <h1>Stock Screener</h1>

    <p align="center"><a href=daily_charts><button class=grey style="height:75px;width:150px">Daily Charts</button></a></p>

    <p align="center"><a href=scan_results><button class=grey style="height:75px;width:150px">Buying Opportunities</button></a></p>
    
    <p align="center"><a href=demo_results><button class=grey style="height:75px;width:150px">Demo Results</button></a></p>


</body>
</html>