body {
    background: rgb(61, 131, 145);
    font-family: arial; margin: 20px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

h1{text-align: center; color: rgb(37, 37, 37);}
h2{text-align: center; color: rgb(37, 37, 37);}
h3{text-align: center; color: rgb(0, 0, 0);}
h4{text-align: center; color: rgb(37, 37, 37);}

